/*copyright par kitgraphiquegratuit.org*/  

/*************** STRUCTURE PRINCIPALE ***************/ 
body, html {
     background:#000 url(images/fond.jpg) repeat-x;
	 margin:0;
	 padding:0;
	 font-family:Verdana, Arial, Helvetica, sans-serif;
	 text-align:center;
	 color:#FFF;
	 font-size:12px;
	 background-attachment: fixed;
}
#conteneur {
	 margin: 0 auto;
	 padding:0;
	 width:1070px;
}	  
/*************** GÉNÉRIQUE ***************/ 
img, p, h1, h2, h3, h4, h5, h6, Span, object, table, td, tr, form {border:0;margin:0;padding:0} 
a                   {color:#a32c2c;text-decoration:none;outline:none}	 
a:hover        {color:#FFF}		
span             {color:#a32c2c} 
/*************** MENU + ESPACE MEMBRE ***************/ 
ul#menu_header {
	 list-style:none;
	 padding:0;
	 margin:6px 0 0 35px;
	 height:24px;
}	
ul#menu_header li {
	 float:left;
}
ul#menu_header li a {
	 display: block;
	 color: #555555;
	 text-decoration: none;
	 margin:0 5px;
	 height:18px;
	 padding:4px 10px;
	 font-weight:bold;
	 text-align:center;
	 font-family:Helvetica;
}
ul#menu_header li a:hover  {
	 color: #FFF;
	 background:#a32c2c;
	 height:18px;
}	
ul#menu_header  li#ici a {
	 color: #FFF;
	 background:#a32c2c;
	 height:18px;
} 
/*************** HEADER ***************/		
#header  {
	 background:url(images/header.png);
	 width:856px;
	 height:223px;
	 text-align:left;
	 margin:0 auto;
}	
#header_haut {
	 width:816px;
	 height:24px;
	 text-align:left;
	 margin:0 auto;
	 padding:5px 0 0 40px;
}
/*************** CONTENU ***************/
#contenu {
	 background:url(images/contenu.png);
	 width:856px;
	 padding:0;
	 text-align:left;
	 margin:0 auto;
	 font-size:12px;
}   
#contenu_couleur {
	 background:url(images/contenu_couleur.png);
	 width:856px;
	 padding:10px 0 ;
	 margin:0;
	 text-align:left;
	 margin:0 auto;
	 font-size:12px;
}
#cadre {
	 width:759px;
	 margin:0 auto
}   
.cadre {
     background:#232323;
	 width:240px;
	 padding:10px;
	 float:left;
	 margin:-30px 0 0 10px;
	 position:relative;
	 -moz-border-radius: 8px 8px 8px 8px;
	 -webkit-border-radius: 8px 8px 8px 8px;
	 border-radius: 8px 8px 8px 8px;
	 }
.cadre1 {
     width:207px;
	 float:left;
	 margin:-30px 0 0 10px;
}
/*************** PIED ***************/
#pied {
     background:url(images/pied.png);
	 width:856px;
	 height:53px;
	 text-align:left;
	 margin:0 auto;
}  		  
#twitter {
     float:right;
	 margin:55px 40px 0 0;
	 background:url(images/twitter.png) left top no-repeat ;
	 width:74px;
	 height:71px;
	 cursor:pointer;
}
#twitter:hover {
     background:url(images/twitter.png) right top no-repeat;
	 width:74px;
	 height:71px;
}
/*************** SLIDE ***************//* Featured Content Slider by: Chris Coyier */																									   		  				  
.floatLeft {
     float: left; 
	 margin-right: 10px;
}
.floatRight { 
	 float: right; 
}
.clear {
	 clear: both; 
}
a { 
	 outline: none; 
}
#page-wrap { 
	 width: 700px; 
	 margin: 0 auto; 
	 position: relative; 
	 min-height:137px;
}
ul { 
	 list-style: square inside;
}
blockquote { 
	 padding: 0 20px; 
	 margin-left: 20px; 
	 border-left: 20px solid #ccc; 
	 font-size: 14px; 
	 font-family: Georgia, serif; 
	 font-style: italic; 
	 margin-top: 10px;
}
.slider-wrap { 
	 width: 522px;
	 float:right;
	 height:134px;
	 border:1px solid #FFF
}			 
.panel ul { 
	 text-align: left; 
	 margin: 0 15px 0 30px; 
}
.stripViewer { 
	 position: relative; 
	 overflow: hidden; 
	 width: 525px; 
	 height:137px; 
}
.stripViewer .panelContainer { 
	 position: relative; 
}
.stripViewer .panelContainer .panel { 
	 float: left; 
	 height: 100%; 
	 position: relative; 
	 width: 525px; 
}
.stripNavL, .stripNavR, .stripNav { 
	 display: none; 
}
#movers-row { 
	 margin: 0; 
	 float:left;
	 width:170px
}
#movers-row div { 
	 float: left; 
	 width:75px;
	 margin: 0 3px;
}
#movers-row div a.cross-link { 
	 float: right; 
}
.photo-meta-data { 
	 background: url(images/transpBlack.png); 
	 padding: 10px; 
	 height: 30px; 
	 margin-top: -52px;
	 width:502px; 
	 position: relative; 
	 z-index: 9999; 
	 color: white; 
}
.photo-meta-data span { 
	 font-size: 13px; 
}
.cross-link { 
	 display: block; 
	 width: 75px; 
	 position: relative; 
	 z-index: 9999; 
	 margin: 0 0 4px 0;
	 border:1px solid #FFF
}